h1{
  text-align:center;
  font-family:san-serif,impact;
}
h2{
  
}
hr{
  background-color:black;
}
p{
  text-align:center;
  margin-top:5px;
  marin-bottom:5px;
}
body{
  background-color:rosybrown;
  font-family:Arial,sans-serif;
}
a{
  background-color:black;
}


